*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    /* width: 100%; */
    height: calc(100% - 50px);
    object-fit: cover;
}

h1 {
    height: 50px;
    text-align: center;
    color: black;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}